<%- include ("../partials/header") %>

<li><a href="/camp">HOME</a></li>
<li><a href='/camp/new'>NEW</a></li>

<%if(!currentUser){%>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/register">REGISTER</a></li>
<%}else{%>
    <li><a href="/logout">LOGOUT</a></li>
<%}%>

<h3><%=currentUser._id%></h3>
<h3><%=camp._id%></h3>

<li><h1><%= camp.author.username %></h1></li>
<br/><br/>
<li><h3><%= camp.name %></h3></li>
<li><img src="<%= camp.image %>"></li>
<li><h3><%= camp.description %></h3></li>

<li><a href='/camp/edit/<%=camp._id%>' class="btn btn-primary">EDIT</a></li>

<form action="/camp/delete/<%=camp._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger">DELETE</button>
</form>

<strong>.........................................</strong>

<br/><br/><br/><br/>

<% camp.comments.forEach((val)=>{ %>
    <li><h2><%= val.author.username %></h2></li>
    <li><h3><%= val.desc %></h3></li>

    <li><a href="/camp/<%=camp._id%>/comment/edit/<%=val._id%>">EDIT COMMENT</a></li>


    <form action="/camp/<%=camp._id%>/comment/delete/<%=val._id%>?_method=DELETE" method="POST">
        <button>DELETE COMMENT</button>
    </form>

    <br/><br/><br/><br/>

<% }); %>

<strong>.........................................</strong>

<br/><br/><br/><br/>

<li><a href="/camp/<%=camp._id%>/comment/new">ADD NEW COMMENT</a></li>

<%- include ("../partials/footer") %> 