<%- include ("../partials/header") %>

<nav class="navbar navbar-expand">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul id="menu-main-nav" class="navbar-nav nav-fill w-100">
          <li id="menu-item-42" class="nav-item  menu-item-42"><a href="/camp" class="nav-link">HOME</a></li>
          <%if(!currentUser){%>
              <li id="menu-item-40" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/login" class="nav-link">LOGIN</a></li>
              <li id="menu-item-40" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/back" class="nav-link">BACK</a></li>
          <%}else{%>        
              <li id="menu-item-42" class="nav-item  menu-item-42"><a href="/logout" class="nav-link">LOGOUT</a></li>
          <%}%>
      </ul>
      </div>
    </div>
</nav>

<div class="card">
    <span class="border border-info">
        <div class="card-body">
            <form action="/camp/<%=id%>/comment/edit/<%=comment._id%>?_method=PUT" method="POST">

                <div class="form-group form-check">
                    <p>Description: </p>
                    <textarea style="min-width: 100%" name="commentall[desc]"><%=comment.desc%></textarea>
                </div>

                <button type="submit"" class="btn btn-success">SUBMIT</button>
            </form>
        </div>
    </span>    
</div>

<%- include ("../partials/footer") %>